# Protocols we want to be serving:
protocols = imap

# Only listen to localhost
listen = localhost

# Place mails in maildir format
#mail_location = maildir:{{ maildir }}/%n:LAYOUT=fs:INBOX={{ maildir }}/Maildir/%n/INBOX
mail_location = maildir:{{ maildir }}/%n

# Use static userdb, allowing any user to log in
userdb {
  driver = static
  args = uid={{ ansible_user_id }} gid={{ ansible_user_gid }} home={{ maildir }}/%n
}

# Use static password
passdb {
  driver = static
  args = password=pass
}

# SSL/TLS support: yes, no, required. <doc/wiki/SSL.txt>
ssl = no

disable_plaintext_auth = no
